<div class="container">

  <div class="playing-heading">
    <div class="heading">Now Playing</div>
  </div>

  <div class="track">
    <div class="album-cover">
      <img src="covers/shinedown-second_chance.png" alt="...">
    </div>
    <div class="info">
      <div class="title">Second Chance</div>
      <div class="artist">Shinedown</div>
    </div>
  </div>

  <div class="queue-heading">
    <a class="vote-next btn btn-primary btn-sm" href="#">
      Play next&nbsp;<i class="fa fa-step-forward"></i>
    </a>
    <div class="heading">In Queue</div>
  </div>

  <div class="queue">
    <div class="track">
      <div class="album-cover">
        <img src="covers/rammstein-rosenrot.jpg" alt="...">
      </div>
      <div class="info">
        <div class="title">Benzin</div>
        <div class="artist">Rammstein</div>
      </div>
    </div>

    <hr class="track-divider">

    <div class="track">
      <div class="album-cover">
        <img src="covers/slipknot-wait_and_bleed.jpg" alt="...">
      </div>
      <div class="info">
        <div class="title">Wait and Bleed</div>
        <div class="artist">Slipknot</div>
      </div>
    </div>
  </div>

</div>
